# Clojure
.calva
.clj-kondo
.cpcache
.lsp
.nrepl-port
.portal

# dotfiles
.devenv
.devenv.flake.nix
.logs

# gen files
gen/*

# Virtual environments
**/.venv

# claude
.clojure-mcp/*

# codex
.codex/*
# !.codex/config.toml

# vscode
.vscode
